@charset "utf-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,img,strong,dd,dl,dt,li,ol,ul,fieldset,form,button,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;}
/*html {_overflow-x:hidden;}*/
body {background-color:#fff;-webkit-text-size-adjust:none;}
/*body,select,input,textarea,button {color: #333;font-size: 12px;font-family: "宋体";outline: none;}*/
cursor,a,a:hover,select,input,button,.header_nav em,.index_pos li,.index_pos9 dd,.show_user dt span,.show_info dd,.favorite,.float_div #gotop,.xf_tab,#favorite,.map_tab li {cursor: pointer;}
h1,h2,h3,h4,h5 {color: #333;font-size:14px;font-weight: bold;}
ul,ol {list-style-type:none}
em {font-style:normal}
table {border-collapse:collapse}
fieldset,img {border:0;}
a {text-decoration: none;color: #333;}
a:hover {color: #f36;text-decoration: none; background:#000;}

.loginf {
    width: 960px;
    margin: auto;
}
.header {
    width: 960px;
    margin: auto;
}
.header .h-bottom {
    width: 960px;
    margin: 0px;
}
.header .h-bottom .menu {
    width: 960px;
    height: 35px;
    background-color: #777777;
    overflow: hidden;
    float:left;
}
.header .h-bottom .menu .m-list {
    width: 960px;
    height: 35px;
}
.header .h-bottom .menu .m-list .l-home {
    float:left;
    width: 100px;
    height: 35px;
    background-color: #18ff27;
    line-height:35px;
    text-align:center;
}
.header .h-bottom .menu .m-list .l-item {
    float:left;
    width: 100px;
    height: 35px;
    background-color: #18ff27;
    line-height:35px;
    text-align:center;
}
.header .h-bottom .menu .m-list .l-home a {
    width:100px;
    /*height: 35px;*/
    display: block;
    font-size:12px;
    text-align:center;
    /*background-color: rgba(24, 255, 39, 0);*/
    /*line-height:35px;*/
}
.header .h-bottom .menu .m-list .l-item a {
    width:100px;
    /*height: 35px;*/
    display: block;
    font-size:12px;
    text-align:center;
    /*background-color: rgba(24, 255, 39, 0);*/
    /*line-height:35px;*/
}
.header .h-bottom .menu .m-list .l-item em {
    font-size: 12px;
    line-height: 14px;
}
.header .h-bottom .menu .m-list .l-item .i-num {
    display: inline;
}
.header .h-bottom .menu .m-list .l-item .i-sub-menu {
    position:absolute;
    display: none;
}
.header .h-bottom .menu .m-list .l-item .i-sub-menu .sm-item {
    float:none;
}
.header .h-bottom .menu .m-list .l-item:hover .i-sub-menu {
    display: block;
}
.index-main {
    width: 960px;
    margin: auto;
}
.index-main p {
    width:960px;
}
.guider {
    width: 960px;
    margin: auto;
}
.footer {
    width: 960px;
    margin: auto;
}
